<table class="table table-stripped">
  <thead class="thead-default">
  <tr>
    <th>Name</th>
    <th>Amount of Arrows</th>
    <th>Bow type</th>
    <th>Power Type</th>
    <th>#</th>
  </tr>
  </thead>

  <tr ng-repeat="elf in $ctrl.elves">
    <td>{{elf.name}}</td>
    <td>{{elf.arrows}}</td>
    <td>{{elf.bowType}}</td>
    <td>{{elf.powerType}}</td>
    <td><button type="button" class="btn btn-primary" type="button" ng-click="$ctrl.delete(elf)">Delete</button></td><br>
  </tr>

  <tr>
    <td><input type="text" class="form-control" ng-model="$ctrl.toAdd.name"/></td>
    <td><input type="text" class="form-control" ng-model="$ctrl.toAdd.arrows"/></td>
    <td><select ng-options="bow for bow in $ctrl.bowTypes" class="form-control" ng-model="$ctrl.toAdd.bowType"></select></td>
    <td><select ng-options="power for power in $ctrl.powerTypes" class="form-control" ng-model="$ctrl.toAdd.powerType"></select></td>
    <td><button type="button" class="btn btn-primary" ng-click="$ctrl.add()">Add</button></td>
    <td></td><br>
  </tr>
</table>